<ul class="nav  mymenu">
    <li class="nav-item">
        <a href="https://www.instagram.com/zaheet_batada/" aria-label="Instagram" class="nav-link"><i
                class="fa fa-instagram" style="font-size: 28px; color: black;"></i></a>
    </li>
    <li class="nav-item">
        <a href="https://www.linkedin.com/in/zaheet-batada/" aria-label="LinkedIn" class="nav-link"><i
                class="fa fa-linkedin" style="font-size: 28px; color: black;"></i></a>
    </li>
</ul>

<h5 class="text-center copyright"> © Copyrights reserved by Zaheet Batada</h5>